[run]
source =
    scine_chemoton
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py
    .*version.*
    *_version.py
    */tests/*

exclude_lines =
    if __name__ == '__main__':
