# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
venv/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
pytest_report.xml

# Sphinx documentation
docs/build/
docs/source/generated/

# pytest
.pytest_cache/

# Editor files
#mac
.DS_Store
*~

#vim
*.swp
*.swo

#pycharm
.idea/

#VSCode
.vscode/
