include LICENSE
include README.rst
include CHANGELOG.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include scine_chemoton/_version.py

# Remove test files from install:
prune tests

# If including data files in the package, add them like:
include scine_chemoton/resources/*xyz
