# List required packages in this file, one per line.
numpy
networkx
psutil
typing_extensions>=4.4,<5.0
scine_art>=2.0,<2.1
scine_database>=1.4,<1.5
scine_utilities>=10.0,<10.1
scine_molassembler>=3.0,<3.1
scipy
setproctitle
wrapt
