# List required packages in this file, one per line.
networkx
numpy==1.26.4
polymethod
psutil
pymatgen==2023.8.10
typing_extensions
scine_art
scine_database
scine_utilities
scine_molassembler
scipy
setproctitle
pyyaml
wrapt
