-r requirements.txt
matplotlib
pytest
coverage
recommonmark
sphinx
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinx_copybutton
numpydoc
pylint
pylint-exit
mypy
autopep8
flake8
autoflake
types-setuptools
